{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style-user.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.6.1.min.js"></script>
    <title>Shopping Cart</title>
</head> --}}

<body>
    <link rel="stylesheet" href="/css/shoppingCartStyle.css">
    <div class="container">
        <div class="contentbar">
            <!-- Start row -->
            <div class="row">
                <!-- Start col -->
                <div class="col-md-12 col-lg-12 col-xl-12 mt-3 mb-3">
                    <div class="card m-b-30">
                        <div class="card-header cart-header">
                            <h3 class="card-title text-center">GIỎ HÀNG</h3>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 col-xl-10">
                                    <div class="cart-container">
                                        <div class="cart-head">
                                            <div class="table-responsive">
                                                <table class="table table-borderless">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Sản phẩm</th>
                                                            <th scope="col">Số lượng</th>
                                                            <th scope="col">Số lượng trong kho</th>
                                                            <th scope="col">Đơn giá</th>
                                                            <th scope="col" class="text-right">Thành tiền</th>
                                                            {{!-- {{#if showEdit}} --}}
                                                            <th scope="col" class="visibility-change visibility-hidden">
                                                                Chỉnh sửa</th>
                                                            {{!-- {{/if}} --}}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each arrProduct}}
                                                        <tr class="product-item" id="{{this.id}}">
                                                            <th scope="row">{{this.ten}}</th>
                                                            <td>
                                                                <div class="form-group mb-0">
                                                                    <input type="number"
                                                                        class="form-control cart-qty quantity-item"
                                                                        name="cartQty1" value="{{this.so_luong}}">
                                                                </div>
                                                            </td>
                                                            <td>12</td>
                                                            <td>{{ConvertToVND this.gia_ban}}</td>
                                                            <td class="text-right">{{ConvertToVND this.thanh_tien}}</td>
                                                            {{!-- {{#if ../showEdit}} --}}
                                                            <td class="visibility-change visibility-hidden">
                                                                <button type="button"
                                                                    class="btn btn-link btn-sm px-3 delete-product-btn"
                                                                    data-ripple-color="dark" id="{{this.id}}">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                            </td>
                                                            {{!-- {{/if}} --}}
                                                        </tr>
                                                        {{/each}}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="cart-body">
                                            <div class="row">

                                                <div class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6">
                                                    <div class="order-total table-responsive ">
                                                        <table class="table table-borderless text-right">
                                                            <tbody>

                                                                <tr>
                                                                    <td class="f-w-7 font-18">
                                                                        <h4>Tổng tiền :</h4>
                                                                    </td>
                                                                    <td class="f-w-7 font-18">
                                                                        <h4 id="total">{{ ConvertToVND total}}</h4>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-footer text-center mt-3">
                                            <button type="button" id="edit-cart" class="btn btn-info my-1"><i
                                                    class="ri-save-line mr-2"></i>Chỉnh sửa giỏ hàng</button>
                                            <a class="btn btn-info my-1" id="payment">Thanh toán
                                                <i class="ri-arrow-right-line ml-2"></i></a>
                                            <button type="button" id="update-cart" class="btn btn-info my-1"><i
                                                    class="ri-save-line mr-2"></i>Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col -->
            </div>
            <!-- End row -->
        </div>
    </div>
    <div class="pop-up hidden">
        <div class="popup-container">
            <div class="notification">
                <div class="noti-header">
                    <i class="fas fa-window-close"></i>
                </div>
                <div class="noti-content-container">
                    <div class="noti-content">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/script/shoppingCartScript.js"></script>
</body>

{{!--

</html> --}}